<html>
<head>
    <meta charset="UTF-8">
    <title>Example - example-guide-concepts-2-production</title>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="js/lib/angular-route.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/HomeController.js"></script>
    <script src="js/app/HomeService.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app/app.css"/>

</head>
<body>
<div ng-app="app" ng-controller="HomeController">

    <!--   <div class="topnav">
           <a href="#" ng-click="user()">User</a>
           <a href="#" ng-click="cache()">CacheId</a>
           <div class="dropdown">
               <button class="dropbtn">Dropdown</button>
               <div class="dropdown-content">
                   <a href="#">Link 1</a>
                   <a href="#">Link 2</a>
                   <a href="#">Link 3</a>
               </div>
           </div>
       </div>
   -->

    <div class="dpstopnav">
        <div class="dropdown">
            <button class="dropbtn">Users</button>
            <div class="dropdown-content">
                <a href="#" ng-click="user()">User</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Cache</button>
            <div class="dropdown-content">
                <a href="#" ng-click="cache()">CacheId</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Status</button>
            <div class="dropdown-content">
                <a href="#" ng-click="appStatus()">App Status</a>
            </div>
        </div>

    </div>

    <div ng-include="'views/error.html'"></div>
    <ng-view></ng-view>
    <div ui-view></div>
</div>
</body>
</html>